VITE_GATEWAY_HOST='http://api.salesync.ddns.net'
VITE_AUTHENTICATION_HOST='http://api.salesync.ddns.net/auth'
VITE_NOTIFICATION_HOST='http://api.salesync.ddns.net/noti'
VITE_STORAGE_SERVICE_HOST='http://storage.salesync.ddns.net'
VITE_DOMAIN='salesync.ddns.net'